<div class="container" ng-controller="View1Ctrl">
    <div class="clearfix">

        <header class="p2 bright-blue bg-blue">
            <div class="container sm-table">
                <div class="sm-table-cell py4">
                    <h1 class="h0 mt0 mb0 white inline">AngularJS PDF Viewer</h1>
                </div>
            </div>
        </header>

        <pdf-viewer
                delegate-handle="my-pdf-container"
                url="pdfUrl"
                scale="1"
                show-toolbar="true"
                headers="{'x-you-know-whats-awesome': 'EVERYTHING'}"></pdf-viewer>

        <footer class="py4">
            <div class="sm-table">
                <div class="sm-table-cell full-width py2 xs-center">
                    <div class="h5 bold px1">
                        <a ng-click="loadNewFile('/app/pdf/material-design.pdf')"
                           class="button button-narrow button-nav-light">
                            Load the Relativity PDF
                        </a>
                        <a ng-click="loadNewFile('/app/pdf/material-design.pdf')"
                           class="button button-narrow button-nav-light">
                            Load the Material Design PDF
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <canvas-selector canvas-elem="'#pdfCanvas'"></canvas-selector>
    </div>
</div>